<div class="flex-column container">
    <p>{{ 'notifications-instructions' | translate }}</p>
    <mat-form-field class="w-100" appearance="legacy">
        <mat-label>{{ 'email' | translate }}</mat-label>
        <input matInput [value]="email" (input)="onEmailInput($event)">
    </mat-form-field>
    <div class="flex-row gap-5px w-100" [class.align-right]="isCancelVisible">
        <button *ngIf="isCancelVisible" mat-button (click)="onCancelClicked()" class="button">{{ 'cancel' | translate }}</button>
        <button
            mat-raised-button
            (click)="onApplyClicked()"
            [class.button]="isCancelVisible"
            [class.w-100]="!isCancelVisible"
        >{{ 'apply' | translate }}</button>
    </div>
</div>