version: '3.9'
name: moviedb
services:
  moviedb-mysql:
    container_name: moviedb-mysql
    image: mysql/mysql-server:latest
    volumes:
      - moviedb-mysql-data:/var/lib/mysql
    ports:
      - 3307:3306
    networks:
      - moviedb-net
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

  moviedb-phpmyadmin:
    container_name: moviedb-phpmyadmin
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - 3308:80
    networks:
      - moviedb-net
    environment:
      - PMA_ARBITRARY=1

  moviedb-backend:
    container_name: moviedb-backend
    image: moviedb/backend:latest
    pull_policy: never
    volumes:
      - moviedb-files-root:/app/ext_root
    ports:
      - 5137:80
    networks:
      - moviedb-net

  moviedb-frontend:
    container_name: moviedb-frontend
    image: moviedb/frontend:latest
    pull_policy: never
    ports:
      - 3309:80
    networks:
      - moviedb-net

volumes:
  moviedb-files-root:
    driver_opts: 
      type: cifs
      o: "username=${SHARED_ROOT_DIR_USER},password=${SHARED_ROOT_DIR_PASS}"
      device: "${SHARED_ROOT_DIR_ROOT}"

  moviedb-mysql-data:

networks:
  moviedb-net:
    external: false
