.collection-container {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 258px) { .collection-container { max-width: 225px; } }
@media only screen and (min-width: 488px) { .collection-container { max-width: 455px; } }
@media only screen and (min-width: 718px) { .collection-container { max-width: 685px; } }
@media only screen and (min-width: 948px) { .collection-container { max-width: 915px; } }
@media only screen and (min-width: 1178px) { .collection-container { max-width: 1145px; } }
@media only screen and (min-width: 1408px) { .collection-container { max-width: 1375px; } }
@media only screen and (min-width: 1638px) { .collection-container { max-width: 1605px; } }
@media only screen and (min-width: 1868px) { .collection-container { max-width: 1835px; } }
@media only screen and (min-width: 2098px) { .collection-container { max-width: 2065px; } }
@media only screen and (min-width: 2328px) { .collection-container { max-width: 2295px; } }
@media only screen and (min-width: 2558px) { .collection-container { max-width: 2525px; } }
@media only screen and (min-width: 2788px) { .collection-container { max-width: 2755px; } }
@media only screen and (min-width: 3018px) { .collection-container { max-width: 2985px; } }
@media only screen and (min-width: 3248px) { .collection-container { max-width: 3215px; } }
@media only screen and (min-width: 3478px) { .collection-container { max-width: 3445px; } }
@media only screen and (min-width: 3708px) { .collection-container { max-width: 3675px; } }
@media only screen and (min-width: 3938px) { .collection-container { max-width: 3905px; } }
@media only screen and (min-width: 4168px) { .collection-container { max-width: 4135px; } }
@media only screen and (min-width: 4398px) { .collection-container { max-width: 4365px; } }
@media only screen and (min-width: 4628px) { .collection-container { max-width: 4595px; } }
@media only screen and (min-width: 4858px) { .collection-container { max-width: 4825px; } }
@media only screen and (min-width: 5088px) { .collection-container { max-width: 5055px; } }
@media only screen and (min-width: 5318px) { .collection-container { max-width: 5285px; } }
@media only screen and (min-width: 5548px) { .collection-container { max-width: 5515px; } }
@media only screen and (min-width: 5778px) { .collection-container { max-width: 5745px; } }
@media only screen and (min-width: 6008px) { .collection-container { max-width: 5975px; } }
@media only screen and (min-width: 6238px) { .collection-container { max-width: 6205px; } }
@media only screen and (min-width: 6468px) { .collection-container { max-width: 6435px; } }
@media only screen and (min-width: 6698px) { .collection-container { max-width: 6665px; } }
@media only screen and (min-width: 6928px) { .collection-container { max-width: 6895px; } }
@media only screen and (min-width: 7158px) { .collection-container { max-width: 7125px; } }
@media only screen and (min-width: 7388px) { .collection-container { max-width: 7355px; } }
@media only screen and (min-width: 7618px) { .collection-container { max-width: 7585px; } }
@media only screen and (min-width: 7848px) { .collection-container { max-width: 7815px; } }
@media only screen and (min-width: 8078px) { .collection-container { max-width: 8045px; } }
@media only screen and (min-width: 8308px) { .collection-container { max-width: 8275px; } }
@media only screen and (min-width: 8538px) { .collection-container { max-width: 8505px; } }
@media only screen and (min-width: 8768px) { .collection-container { max-width: 8735px; } }
@media only screen and (min-width: 8998px) { .collection-container { max-width: 8965px; } }
@media only screen and (min-width: 9228px) { .collection-container { max-width: 9195px; } }
@media only screen and (min-width: 9458px) { .collection-container { max-width: 9425px; } }
@media only screen and (min-width: 9688px) { .collection-container { max-width: 9655px; } }
@media only screen and (min-width: 9918px) { .collection-container { max-width: 9885px; } }

